<div class="flex justify-center items-center mt-15 p-6">
  <div class="w-1/3">
    <app-container>
      <!-- Registration Form -->
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <!-- Name -->
        <div class="mb-3">
          <app-input
            [control]="name"
            [label]="'Name'"
            [type]="'text'"
            [placeholder]="'Enter Name'"
          ></app-input>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <app-input
            [control]="email"
            [label]="'Email'"
            [type]="'email'"
            [placeholder]="'Enter Your Email'"
          ></app-input>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <app-input
            [control]="password"
            [label]="'Password'"
            [type]="'text'"
            [placeholder]="'Enter Your Password'"
          ></app-input>
        </div>
        <!-- Confirm Password -->
        <div class="mb-3">
          <app-input
            [control]="confirmPassword"
            [label]="'Confirm Password'"
            [type]="'text'"
            [placeholder]="'Confirm Password'"
          ></app-input>
        </div>
        <button
          type="submit"
          class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
        >
          Submit
        </button>
      </form>
    </app-container>
  </div>
</div>
