<app-container>
  <!-- Login Form -->
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <!-- Email -->
    <div class="flex justify-center items-center mb-4">
      <p class="text-3xl text-indigo-400 font-bold uppercase mr-4">Gz</p>
    </div>

    <div class="mb-4">
      <app-input
        [control]="loginForm.controls['email']"
        [label]="'Email'"
        [type]="'email'"
        [placeholder]="'Enter Email'"
      ></app-input>
    </div>
    <!-- Password -->
    <div class="mb-3">
      <app-input
        [control]="loginForm.controls['password']"
        [label]="'Password'"
        [type]="'password'"
        [placeholder]="'Enter Your Password'"
      ></app-input>
    </div>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="block w-full bg-indigo-400 text-white py-2 px-4 rounded transition hover:bg-indigo-500 disabled:opacity-50"
    >
      Submit
    </button>
  </form>
</app-container>
